* {
    box-sizing: border-box;
}

:root {
    --primary--color: #7264d6;
}

html {
    font-size: 62.5%;
}

/* Common */
a {
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    border: 1px solid #212832;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background: #212832;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.label {
    display: flex;
    align-items: center;
}

.label__name {
    margin-left: 12px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d77;
}

.section-heading {
    margin-top: 12px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: #212832;
}

.section-desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 400;
    color: #696d76;
}

/* Header */
.header {
    padding: 20px 0;
}

.header--sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
}

.navbar {
    margin-left: 47px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 23px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

.navbar__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__link {
    padding: 8px 28px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #212832;
}

.header-action__btn {
    --height: 52px;

    min-width: 113px;
}

/* Hero */
.hero {
    padding-top: 76px;
}

.hero__inner {
    display: flex;
}

.hero__content {
    width: 47%;
    padding: 57px 0;
}

.hero__media {
    margin-left: 50px;
    padding-left: 100px;
}

.hero__heading {
    width: 500px;
    font-size: 6rem;
}

.hero__heading--highlight {
    color: #7264d6;
}

.hero__desc {
    margin: 20px 10px 40px 0;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.contact-form__input {
    width: 100%;
    height: 100%;
    padding: 0 23px;
    border-radius: inherit;
    border: none;
    outline: none;
}

.contact-form__submit {
    border-radius: 8px;
    background: var(--primary--color);
    border: none;
    outline: none;
}

.hero__content--privacy-policy {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: #696d76;
}

.mobile-app__inner {
    position: relative;
    width: 296px;
    height: 562px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}

.mobile-app__selfie-camera-decor {
    position: absolute;
    z-index: 1;
    width: 144px;
    height: 36px;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: #3c2f60;
    border-radius: 0px 0px 18px 18px;
}

/* Card */
.card {
    position: relative;
    margin: 40px 11px 0;
    padding: 16px;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(
        60deg,
        rgba(134, 121, 228, 0.9) 30%,
        rgba(114, 100, 214, 1) 60%
    );
    overflow: hidden;
}

.card__type {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.35;
}

.card__account-balance {
    margin-top: 2px;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.36;
    color: #fff;
}

.card__info {
    margin-top: 32px;
    display: flex;
    column-gap: 12px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.card__expiration,
.card__holder {
    min-width: 57px;
}

.card__type,
.card__holder,
.card__holder-name {
    z-index: 1;
}

.card__value {
    display: flex;
    margin-top: 5px;
    column-gap: 36px;
}

.card__expiration-date {
    width: 33px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}

.card__holder-name {
    min-width: 107px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}

.card__decor {
    position: absolute;
}

.card__decor:nth-of-type(1) {
    top: 16px;
    right: 16px;
}

.card__decor:nth-of-type(2) {
    top: 0;
    left: 0;
}

.card__decor:nth-of-type(3) {
    right: 0;
    bottom: 0;
}

/* Transaction */
.transaction {
    margin: 24px 11px 0;
}

.transaction__history {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transaction-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.375;
    color: #31456a;
}

.transaction-list {
    margin-top: 24px;
}

.transaction-item {
    display: flex;
}

.transaction-item + .transaction-item {
    margin-top: 28px;
}

.transaction-item__type {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 14px;
}

.transaction-item__type-name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #212832;
}

.transaction-item__type-info {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #696d76;
}

.transaction-item__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.transaction__value {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #212832;
}

.transaction__date {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #696d76;
}

.deposite-info {
    position: absolute;
    display: flex;
    top: 99px;
    left: -112px;
    width: 174px;
    height: 46px;
    padding: 16px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.deposite-info__title {
    margin: 0 19px 0 8px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #31456a;
}

.deposite-info__value {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: #4ab5e3;
}

.interest-info {
    position: absolute;
    top: 115px;
    right: -186px;
    padding: 29px 33px 41px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.interest-info__title {
    text-align: center;
    font-size: 4.4rem;
    font-weight: 600;
    color: #fff;
}

.interest-info__desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.375;
    color: #fff;
}

.funds {
    position: absolute;
    bottom: 52px;
    right: -86px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.funds__saved-icon {
    width: 20px;
    height: 26px;
}

.funds__info {
    margin-left: 11px;
}

.funds__value {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.funds__name {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}

/* How it works-Guide */

.guide {
    margin-top: 150px;
}

.guide__inner {
    display: flex;
}

.guide__media {
    width: 470px;
}

.guide__media-wrapper {
    padding: 0 7px;
    position: relative;
}

.guide__media-wrapper::before {
    content: url(../img/guide-decor.svg);
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.guide__img {
    width: 456px;
}

.guide__bank-icon {
    position: absolute;
    top: 76px;
    right: 62px;
}

.guide__notification {
    display: flex;
    position: absolute;
    bottom: 96px;
    right: -100px;
    column-gap: 10px;
    padding: 15px 30px 15px 15px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.guide__notification-content {
    padding: 2px 0;
}

.guide__notification-info {
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.21;
    color: #212832;
}

.guide__notification-desc {
    margin-top: 5px;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
    color: #696d76;
}

.guide__content {
    padding: 28px 0 28px 230px;
}

.guide__list {
    margin-top: 70px;
}

.guide__item-title {
    width: 100%;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    color: #212832;
}

.guide__item + .guide__item {
    margin-top: 28px;
}

.guide__item-desc {
    width: 100%;
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

/* Feature */
.feature {
    padding-top: 160px;
}

/* Feature section first */
.feature__section-first {
    display: flex;
}

.feature__content {
    width: 40%;
}

.feature__list {
    margin-top: 28px;
}

.feature__item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #212832;
    margin-bottom: 18px;
}

.feature__item::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.feature__cta {
    margin-top: 26px;
}

/* Feature media */
.feature__media-first {
    margin-left: 130px;
    position: relative;
}

/* Feature card */
.feature__card {
    position: relative;
    margin: 88px 88px 96px 0;
    padding: 38px;
    width: 482px;
    height: 322px;
    border-radius: 20px;
    background: linear-gradient(
        60deg,
        rgba(134, 121, 228, 0.9) 5%,
        rgba(114, 100, 214, 1) 60%
    );
    overflow: hidden;
}

.feature__card-type {
    position: relative;
    font-size: 2.4rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.375;
}

.feature__card-account-balance {
    position: relative;
    margin-top: 10px;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.375;
    color: #fff;
}

.feature__card-info {
    margin-top: 98px;
    display: flex;
    column-gap: 26px;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.35;
}

.feature__card-expiration,
.feature__card-holder {
    min-width: 114px;
}

.feature__card-type,
.feature__card-account-balance,
.feature__card-holder,
.feature__card-holder-name {
    z-index: 1;
}

.feature__card-value {
    display: flex;
    margin-top: 5px;
    column-gap: 81px;
}

.feature__card-expiration-date {
    width: 59px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.36;
    color: #fff;
}

.feature__card-holder-name {
    min-width: 196px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}

.feature__card-decor {
    position: absolute;
}

.feature__card-decor:nth-of-type(1) {
    top: 38px;
    right: 38px;
}

.feature__card-decor:nth-of-type(2) {
    top: 0;
    left: 0;
}

.feature__card-decor:nth-of-type(3) {
    right: 0;
    bottom: 0;
}

.feature__transaction {
    position: absolute;
    top: 40px;
    right: 0;
    padding: 23px 13px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature__transaction-icon {
    width: 40px;
    height: 40px;
}

.feature__income {
    position: absolute;
    bottom: 37px;
    right: 0;
    padding: 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.feature__income-desc {
    margin-top: 14px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.33;
    color: #fff;
}

.feature__income-value {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.38;
    color: #fff;
}

/* Feature section second */
.feature__section-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 230px;
    margin-top: 160px;
}

.feature__media-wrapper {
    position: relative;
    padding: 0 28px;
}

.feature__media-wrapper::before {
    position: absolute;
    content: url(../img/feature-decor-04.svg);
    bottom: 0;
    left: 0;
    z-index: -1;
}

.feature__img {
    width: 413px;
}

.feature__icon {
    position: absolute;
    bottom: 170px;
    right: -140px;
    z-index: 1;
}

.feature-payment-method__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #212832;
}

.feature-payment-method {
    position: absolute;
    bottom: 57px;
    right: -74px;
    padding: 28px;
    width: 281px;
    height: 220px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
}

.feature-payment-method__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 18px;
    margin-top: 20px;
}

/* Review */
.review {
    margin-top: 160px;
}

.review__label {
    justify-content: center;
}

.review__label-decor {
    margin-right: 12px;
}

.review__heading {
    text-align: center;
}

.review__desc {
    width: 435px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-left: auto;
    margin-right: auto;
}

.review__row {
    overflow: hidden;
}

.review__list {
    display: flex;
    margin-top: 70px;
    column-gap: 30px;
}

.review__item {
    width: 570px;
    flex-shrink: 0;
}

.review__box {
    position: relative;
    padding: 42px 28px;
    width: 100%;
    height: 264px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #dfe2e8;
}

.review__box:hover {
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
    border: hidden;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.review__content {
    position: relative;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
    color: #696d76;
    z-index: 1;
}

.review__content::after {
    content: "";
    position: absolute;
    width: 82px;
    height: 82px;
    bottom: -92px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: #fff;
    border-right: 1px solid #dfe2e8;
    border-bottom: 1px solid #dfe2e8;
    border-radius: 0 0 4px 0;
}

.review__box:hover .review__content::after {
    border: hidden;
}

.review__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.review__author-avatar-wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4ab5e3;
    overflow: hidden;
}

.review__item:nth-of-type(2) .review__author-avatar-wrap {
    background: #439f90;
}

.review__author-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__author-name {
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #070052;
}

.review__author-occupation {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.review__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.review__dot {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
    background: #fff;
    border-radius: 1px;
}

.review__dot-active {
    background: #7264d6;
    border-color: #7264d6;
}

/* Blog */
.blog {
    margin-top: 160px;
}

.blog-top__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-top__left {
    margin-top: 6px;
}

.blog__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
    width: 435px;
}

.blog__cta {
    min-width: 123px;
}

.blog__list {
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.blog__item {
    display: flex;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
}

.blog__item:hover {
    border: hidden;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog__item-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.blog__item-info {
    margin-left: 22px;
}

.blog__item-info-date {
    margin-top: 10px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog__item-info-title {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #212832;
}

.blog-info__link {
    display: block;
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
    color: #696d76;
}

.blog-info__link:hover {
    color: #7264d6;
}
